.content {
  padding: 50px 50px 0;
}

.channel-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.card {
  flex: 1;
  border: 2px solid #001529;
  box-shadow: 5px 5px 10px #001529;
}

.list-card {
  max-width: 420px;
}

.message-card {
  min-width: 300px;
  max-width: 1200px;
  height: 75vh;
  display: flex;
  flex-direction: column;
}

.menu {
  background-color: #f5f5f5;
  color: #001529;
  font-family: Roboto Condensed;
  font-size: 1.2rem;
  width: 200px;
  height: 33px;
  margin-top: 12px;
}

.input-search {
  width: 80%;
  max-width: 320px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.border-dark {
  border-block-color: #001529;
}

.chat-list {
  height: 55vh;
  overflow-y: auto;
}

::-webkit-scrollbar-track
{
	border-radius: 9999px;
	background-color: transparent;
}

::-webkit-scrollbar
{
	width: 0.6rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb
{
  background-color: #d9d9d9;
  border-color: #f5f5f5;
  border-radius: 9999px;
  border-width: 1px;
}

.mt-12 {
  margin-top: 12px;
}

.mb-1 {
  margin-bottom: 1px;
}

.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 100%;
  }
}


@media screen and (max-width: 768px) {
  .channel-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card {
    max-width: 100%;
  }
}
