.page-container {
  position: relative;
  min-height: 100vh;
}

.content {
  padding: 50px 50px 64px;
}

.page-title {
  text-align: center;
}

.oauth-group {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}
