.static-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}

.static-card {
  width: auto;
  min-width: 180px;
  margin: 0 4px 20px;
}

.static-card-lg {
  margin: 0 20px;
}

.static-card-text {
  margin-bottom: 12px;
}

.static-card-progress {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ant-progress.ant-progress-circle .ant-progress-text {
  color: #001529;
  font-size: 1rem;
  padding: 0 10px;
}
