.players-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.rooms-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.game-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}
