.header {
  background: #001529;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

.content {
  margin: 30px;
}

.breadcrumb {
  margin: 16px 0;
}

.align-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-user-info {
  color: #fff;
  display: flex;
  align-items: center;
}

.logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
}

.mr-8 {
  margin-right: 8px;
}
