.icon {
  font-size: 40px;
  color: #001529;
  margin: 15px 0px 0px 30px;
  display: flex;
  align-items: center;
}

p {
  font-size: 1.1rem;
  margin: 0;
}

.btn {
  margin-left: auto;
  margin-right: 20px;
}

.divider-ch {
  margin-bottom: 1px;
  margin-top: 14px;
  border-color: #001529;
}

.management-container {
  flex: 1;
  margin-left: 20px;
  display: flex;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  color: #001529;
}

.message-container {
  margin-bottom: 10px;
}

.avatar {
  display: inline-block;
  margin-left: 15px;
  margin-top: 5px;
}

.username-container {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.username {
  color: #001529;
  margin-bottom: 15px;
  padding-top: 7px;
  font-size: 1.1rem;
}

.msg {
  text-align: left;
  padding: 5px;
  font-size: 1rem;
}

.hour {
  text-align: right;
  margin-right: 25px;
  color: gray;
}

.date {
  text-align: center;
  font-size: 0.9rem;
  color: gray;
}

.send-button {
  position: absolute;
  bottom: 0.75rem;
  right: 0.75rem;
}
