.title {
  color: #001529;
  font-family: Roboto Condensed;
  text-align: center;
  font-size: 1.2rem;
}

.message-header {
  padding: 12px 16px;
  display: flex;
  align-items: center;
}

.message-list {
  height: 100%;
  overflow-y: auto;
  padding: 12px 16px;
}

.center-obj {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.w-60 {
  width: 60%;
}

.ml-12 {
  margin-left: 12px;
}

.m-0 {
  margin: 0;
}
