.managemet-content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.side-group {
  width: 20%;
  min-width: 180px;
}

.list-channel {
  height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px solid #d9d9d9;
  border-radius: 8px;
  padding: 8px 4px;
}

.list-channel-item {
  color: #001529;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 12px;
  border-block-end: 1px solid rgba(5, 5, 5, 0.06);
  cursor: pointer;
}

.list-channel-item:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.list-channel-active {
  border-left: 5px solid hsl(215, 99%, 54%);
}

.management-channel-group {
  width: 75%;
  height: 70vh;
}

.msgContainer {
  height: 100%;
  color: #001529;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exclamation {
  font-size: 45px;
  margin-right: 15px;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.leave-btn,
.pass-btn {
  color: #001529;
  margin: 0 10px 10px;
}

.pagination {
  margin-top: 24px;
  text-align: center;
}

.admin-search-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.admin-search {
  width: 80%;
  max-width: 400px;
  margin-right: 20px;
  margin-bottom: 20px;
}


@media screen and (max-width: 1200px) {
  .side-group {
    width: auto;
  }

  .management-channel-group {
    width: 100%;
    height: auto;
  }

  .list-channel {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .list-channel-group {
    display: flex;
  }

  .list-channel-item {
    padding: 12px 20px;
    min-width: 110px;
  }

  .list-channel-active {
    border-left: none;
    border-bottom: 2px solid hsl(215, 99%, 54%);
  }
}



/* .items {
  padding: 12px;
  margin-bottom: 5px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
}

.items:hover {
  background-color: #1677fe;
  border-radius: 10px;
}

.selected {
  background-color: #1677fe;
}

.userOutlined {
  font-size: 25px;
  margin-right: 15px;
}

.text-title {
  color: #001529;
  font-size: 1rem;
} */
