.container {
  width: 260px;
  height: max-content;
  margin: auto;
  background-color: #ebebeb;
  padding: 20px 15px;
  margin-top: 5px;
  border-radius: 7px;
  box-shadow: 10px 11px rgba(0, 0, 0, 0.7);
}

.form-field {
  width: 100%;
  display: inline-block;
  padding: 5px;
  margin-top: 20px;
}

.form-error {
  display: block;
  color: rgb(237, 67, 55);
  font-size: 0.9em;
}

.password-field-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn-eye {
  margin-top: 20px;
  margin-left: 8px;
}
