.channel-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  height: 100%;
  width: 100%;
}

.menu {
  background-color: #f5f5f5;
  color: #001529;
  font-family: Roboto Condensed;
  font-size: 1.2rem;
  width: 200px;
  height: 33px;
  margin-top: 12px;
}

.divider {
  margin-bottom: 10px;
}

.channel {
  flex: 1;
  max-width: 450px;
  border: 2px solid #001529;
  text-align: center;
  box-shadow: 5px 5px 10px #001529;
}

.chat {
  flex: 1;
  max-width: 900px;
  min-width: 300px;
  border: 2px solid #001529;
  box-shadow: 5px 5px 10px #001529;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text-icon {
  margin-bottom: 20px;
  font-size: 2rem;
  font-family: Roboto Condensed;
}

.channel-item {
  display: flex;
  align-items: center;
  border: 1px solid #001529;
  border-radius: 8px;
  margin: 10px;
}

.icon-channel {
  margin: 14px;
}

.channel-name {
  margin-left: 10px;
}

.chat-icon {
  font-size: 40px;
  cursor: pointer;
  color: #001529;
}

.plus-icon {
  font-size: 40px;
  cursor: pointer;
  color: #001529;
}

@media screen and (max-width: 768px) {
  .channel-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .channel,
  .chat {
    max-width: 100%;
  }
}
