@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&family=Roboto+Condensed:wght@300&display=swap');

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
}

.link-pos-center {
  display: block;
  text-align: center;
  text-decoration: none;
}

.primary-button {
  min-width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 10px;
}

.w-60 {
  width: 60%;
}

.p-10 {
  padding: 10px;
}

.p-50 {
  padding: 50px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-48 {
  margin-bottom: 48px;
}
