.player-card {
  display: flex;
  align-items: center;
  margin-right: 24px;
  margin-bottom: 24px;
}

.player-info {
  font-size: 0.9rem;
}

.bg-green {
  background-color: #87d068;
}

.mr-12 {
  margin-right: 12px;
}
